# Rocq compiled files
*.vo
*.vok
*.vos
*.glob
*.aux
.coq-native/
_build/

# Generated Makefiles
CoqMakefile
CoqMakefile.conf
CoqMakefile.d
Makefile.conf
.Makefile.d
Makefile.coq
Makefile.coq.conf
.Makefile.coq.d

# Lia tactic cache
.lia.cache
